/***********************************************************************************************************************
**	COLORS VARIABLES
***********************************************************************************************************************/
$dark: #14161B;

/***********************************************************************************************************************
**	BREAKPOINT VARIABLES
***********************************************************************************************************************/

$breakExSm: 0;
$breakSmall: 575.98px;
$breakMedium: 766.98px;
$breakLarge: 991.98px;
$breakExtra: 1199.98px;
$breakHuge: 1399.98px;
